#test1 p,
#test2 p {
  color: blue;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  #test1 p,
  #test2 p {
    color: green;
  }
}
#test3 p {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  #test3 p {
    color: green;
  }
}
